:root {
    --border-color: #d5d5d5;
    --cell-color: #f5f6f5;
    --cell-active: #2ecc71;
}

body ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

body ::-webkit-scrollbar-thumb {
    border: 3px solid #f6f7f6;
    background: silver;
    border-radius: 10px;
    height: 30px;
}

body ::-webkit-scrollbar-track {
    background: #f6f7f6;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.menu {
    /* border: 1px solid; */
    height: 30px;
    display: flex;
    background: var(--cell-color);
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-size: 0.9rem;
}

.menu-options {
    /* border: 1px solid; */
    height: 40px;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.8rem;
}

.address-content {
    /* border: 1px solid; */
    height: 20px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
}

#address {
    width: 70px;
    outline: none;
    border: none;
    border-right: 1px solid var(--border-color);
    text-align: center;
}

#formula {
    outline: none;
    border: none;
    /* background: aquamarine; */
    width: 100%;
    padding: 5px;
}

.cells-content {
    height: calc(100vh - 120px);
    /* background: lightgreen; */
    overflow: auto;
    font-size: 0.7rem;
    position: relative;
    /* border-top: 1px saddlebrown; */
}

.sheets {
    /* border: 1px solid; */
    height: 30px;
    display: flex;
    background: var(--cell-color);
    align-items: center;
    font-size: 0.7rem;
}

.row {
    display: flex;
}

.cell {
    /* border: 1px solid; */
    min-height: 20px;
    min-width: 85px;
    max-width: 85px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    outline: none;
    /* border-left: 1px solid gray; */
}

.top-left-cell {
    height: 20px;
    width: 30px;
    background: #f5f6f5;
    position: absolute;
    z-index: 3;
    /* border-right: 1px solid gray; */
    border-bottom: 4px solid var(--border-color);
    border-right: 4px solid var(--border-color);
}

.top-row {
    display: flex;
    position: absolute;
    background: #f5f6f5;
    top: 0px;
    left: 30px;
    z-index: 2;
    border-bottom: 1px solid var(--border-color);
}

.top-row-cell {
    /* border: 1px solid; */
    min-height: 20px;
    min-width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid gray; */
    /* border-left: 1px solid gray; */
    border-right: 1px solid var(--border-color);
}

.left-col {
    background: #f5f6f5;
    width: 30px;
    position: absolute;
    top: 20px;
    z-index: 2;
}

.left-col-cell {
    height: 20px;
    width: 30px;
    /* border: 1px solid; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border-color);
    /* border-top: 1px solid gray; */
    border-bottom: 1px solid var(--border-color);
}

.cells {
    position: absolute;
    top: 20px;
    left: 30px;
}

.add-sheet {
    width: 30px;
    /* background: aqua; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
}

.add-sheet .fas {
    color: #2ecc71;
}

.sheets-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.sheet {
    border-right: 1px solid lightgray;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 0.8rem; */
    cursor: pointer;
}

.active-sheet {
    background: white;
    font-weight: bold;
}

.menu div {
    width: 60px;
    /* background: aquamarine; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid lightgray; */
    cursor: pointer;
}

.file {
}

.home {
}

.file-menu-options {
}

.home-menu-options {
    display: flex;
    align-items: center;
    height: 100%;
}

.active-menu {
    background: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid var(--cell-active);
}

.hide {
    display: none;
}

.font-style {
    display: flex;
    min-width: 150px;
    height: 65%;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid lightgray;
}

.font-style div {
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.font-style div:hover {
    background: #bdc3c7;
    opacity: 0.5;
}

.font-style div .fas {
}

.font-type {
    width: 90px !important;
    /* height: 20px !important; */
}

#font-type {
    height: 100%;
    width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* border: none; */
    outline: none;
    border: 1px solid var(--border-color);
    background: var(--cell-color);
    font-size: 0.7rem;
}

.font-size {
    width: 40px !important;
    /* height: 20px !important; */
}

#font-size {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid var(--border-color);
    background: var(--cell-color);
    font-size: 0.7rem;
}

.active-font-style {
    background: #bdc3c7;
}

.active-cell {
    border: 2px solid var(--cell-active) !important;
}
